# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/


# Models (large files)
models/*.onnx

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db